
.info {
  text-align: left;
  flex-basis: 210px;

  &__caption {
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1;
    margin-top: 0;
  }

  & p {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
  }
  & p:last-child {
    font-weight: 400;
    font-size: 1.1rem;
  }
}